/* Featured Photo */
body{
    background-color: antiquewhite;
}

/* for the centered photos */
.feat{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* for the flex containers */
.flex-container{
    display: flex;
    align-items: baseline; 
    gap: 20px;
}
/* for each flex item */
.flex-item{
    border: 1px solid; 
    justify-content: space-evenly;
    flex: auto;
    background-color: #83677b;
    padding: 20px;
    margin: 10px;
}

